<main>
    <h1 id="title">{{ title }}</h1>
    <div class="product-container m-2 grid-2">

        {{#with products.attributes}}
        {{!-- The left column: image --}}
        <div class="left-column">
            <image class="main-img" src={{image_url}} id="productImg"></image>
            {{!-- extra images below main image --}}
            <div class="sub-left-container">
                {{#each extra_image_urls}}
                <image class="extra-img" src={{[]}}></image>
                {{/each}}
            </div>
        </div>

        {{!-- The right column: name & desc --}}
        <div class="right-column">
            <h4 id="brand">{{brand}}</h4>
            <h2 id="productName">{{CUSTOMFIELD_customer_facing_product_name}}</h2>
            <h3 id="price">$ {{price}}</h3>
            <div id="productDesc" class="medium">
                {{{description}}}
                <br>
            </div>
            <a href={{url}} id="productLink">View Details</a>
        </div>
        {{/with}}

    </div>

</main>

